body {
    margin-top: 0;
    padding-top: 0;
    overflow-y: scroll;
    font: 14px monospace, monospace;
    background-color: #fdfaf6;
    color: #586e75;
}

img,
.c {
    display: table-cell;
    max-width: 999px;
    max-width: 80ch;
}

pre {
    margin: 0;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: #2aa198;
}

th,
td {
    padding-left: 32px;
    padding-right: 32px;
    vertical-align: middle;
}

.pfp {
    width: 18ch;
    height: auto;
    border-radius: 25%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.p {
    display: table-cell;
    width: 42ch;
}

.d {
    display: table-cell;
    width: 80ch;
}

.t {
    display: table-cell;
}

.banner {
    display: table;
    width: 100%;
    top: 0;
    position: sticky;
    user-select: none;
    background-color: #fdfaf6;
    border-bottom: solid 1px #586e75;

    a {
        text-decoration: underline;
    }
}

@media(max-width:999px) {
    .c {
        display: block;
        font-size: 1.94vw;
    }
}