@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    margin: 0;
    padding-top: 0;
    overflow-y: scroll;
    font: 14px monospace, monospace;
    font-family: "Courier Prime", monospace;
    font-weight: 400;
    line-height: 24px;
    background-color: #f7f4ee;
    color: #073642;
    min-height: 100vh;
}

pre {
    font-family: inherit;
    font-weight: inherit;
    line-height: inherit;
    margin: 0;
    overflow-x: hidden;
}

code {
    font-family: inherit;
    font-weight: inherit;
    line-height: inherit;
    margin: 0;
    overflow-x: scroll;
}

img {
    display: block;
    max-width: 80ch;
    border-radius: 3px 3px;
    margin-left: auto;
    margin-right: auto;
}

a { color: #2aa198; }
i { color: #68848b; }
b { color: #68848b; }
em { color: #93a1a1; }

a:hover:not(:has(img)) { background-color: #2aa198; color: #f7f4ee; text-decoration: none; }
a.n { color:#cb4b16; }
a.n:hover:not(:has(img)) { background-color: #cb4b16; color: #f7f4ee; text-decoration: none; }

/* .ii { color: inherit; }
.bb { color: inherit; } */
.inline { display: inline; }
.ctr { text-align: center; color: #cb4b16; }
.invislink { text-decoration: none; color: inherit; }
.mediaflex { display: flex; align-items: center; }

.nav {
    display: table;
    width: 80ch;
    margin: auto;
    user-select: none;
    padding: 2ch;
}

.nav a {
    text-decoration: none;
}

.tt {
    display: table-cell;
    width: 40ch;
    vertical-align: middle;
}

.c {
    width: 80ch;
    margin: auto;
    padding: 2ch;
}

.container {
    position: relative;
    width: 80ch;
    margin: auto;
    height: 98vh;
    gap: 1em;
    top: 1em;
}

.lc {
    position: absolute;
    right: calc(100% + 2ch);
    top: 0;
}

.p {
    width: 28ch;
    padding: 2ch;
    user-select: none;
}

.pfp {
    width: 14ch;
    height: auto;
    border-radius: 6px 6px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
