@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    margin: 0;
    padding-top: 0;
    overflow-y: hidden;
    font: 14px monospace, monospace;
    font-family: "Courier Prime", monospace;
    font-weight: 400;
    line-height: 28px;
    background-color: #eae6e0;
    background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 20.5V18H0v-2h20v-2H0v-2h20v-2H0V8h20V6H0V4h20V2H0V0h22v20h2V0h2v20h2V0h2v20h2V0h2v20h2V0h2v20h2v2H20v-1.5zM0 20h2v20H0V20zm4 0h2v20H4V20zm4 0h2v20H8V20zm4 0h2v20h-2V20zm4 0h2v20h-2V20zm4 4h20v2H20v-2zm0 4h20v2H20v-2zm0 4h20v2H20v-2zm0 4h20v2H20v-2z' fill='%23faf6f0' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
    color: #073642;
    min-height: 100vh;
}

pre {
    font-family: inherit;
    font-weight: inherit;
    line-height: inherit;
    margin: 0;
    overflow-x: hidden;
}

code {
    font-family: inherit;
    font-weight: inherit;
    line-height: inherit;
    margin: 0;
    overflow-x: scroll;
}

img {
    display: block;
    max-width: 80ch;
    border-radius: 3px 3px;
    margin-left: auto;
    margin-right: auto;
}

a { color: #2aa198; }
i { color: #859900; }
b { color: #6c71c4; }
em { color: #93a1a1; }

.ii { color: inherit; }
.inline { display: inline; }
.ctr { text-align: center; color: #cb4b16; }
.invislink { text-decoration: none; color: inherit; }
.mediaflex { display: flex; align-items: center; }

.nav {
    display: table;
    width: 80ch;
    margin: auto;
    user-select: none;
    background-color: #f7f4ee;
    border: 1px solid #677682;
    box-shadow: 2px 2px 0px 0px #677682;
}

.tt {
    display: table-cell;
    width: 40ch;
    vertical-align: middle;
}

.c {
    width: 80ch;
    margin: auto;
    max-height: 80vh;
    overflow-y: scroll;
    background-color: #f7f4ee;
    border: 1px solid #677682;
    box-shadow: 2px 2px 0px 0px #677682;
    padding: 2ch;
}