@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

body {
    margin: 0;
    padding-top: 0;
    overflow-y: scroll;
    font: 14px monospace, monospace;
    font-family: "IBM Plex Mono", monospace;
    font-weight: 400;
    line-height: 28px;
    background-color: #eae6e0;
background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 20.5V18H0v-2h20v-2H0v-2h20v-2H0V8h20V6H0V4h20V2H0V0h22v20h2V0h2v20h2V0h2v20h2V0h2v20h2V0h2v20h2v2H20v-1.5zM0 20h2v20H0V20zm4 0h2v20H4V20zm4 0h2v20H8V20zm4 0h2v20h-2V20zm4 0h2v20h-2V20zm4 4h20v2H20v-2zm0 4h20v2H20v-2zm0 4h20v2H20v-2zm0 4h20v2H20v-2z' fill='%23faf6f0' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
    color: #073642;
    min-height: 100vh;
}

pre {
    font-family: "IBM Plex Mono", monospace;
    font-weight: 400;
    line-height: 24px;
    margin: 0;
    overflow-x: hidden;
}

code {
    font-family: "IBM Plex Mono", monospace;
    font-weight: 400;
    line-height: 24px;
    margin: 0;
    overflow-x: scroll;
}

img {
    display: block;
    max-width: 80ch;
    border-radius: 6px 6px;
    margin-left: auto;
    margin-right: auto;
}

a {
    /* text-decoration: none; */
    color: #2aa198;
}

i {
    color: #859900;
}

b {
    color: #6c71c4;
}

em {
    color: #93a1a1;
}

th, td {
    padding-left: 60px;
    padding-right: 60px;
    vertical-align: middle;
}

.blur {
    background: #fdfaf6f8;     
    height: 100%;
    width: 100%;
}

.inline {
    display: inline;
}

.c {
    display: table-cell;
    width: 80ch;
    border-radius: 3px 3px;
}

.place-content {
    display: table-cell;
    width: 80ch;
    border-radius: 3px 3px;
}

.p {
    display: table-cell;
    width: 42ch;
    border-radius: 3px 3px;
    user-select: none;
    top: 96px;
    position: sticky;
}

.t {
    display: table-cell;
}

.tt {
    display: table-cell;
    width: 94ch;
    vertical-align: middle;
}

.invbox {
    width: inherit;
    border-radius: inherit;
    top: 144px;
    padding: 2ch;
}

.prebox {
    width: inherit;
    border-radius: inherit;
    position: inherit;
    top: 108px;
    padding: 2ch;
    background-color: #fdfaf6;
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.1));
}

.pfp {
    width: 18ch;
    height: auto;
    border-radius: 25%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.banner {
    display: table;
    width: 100%;
    top: 0;
    /* margin-top: 12px; */
    /* margin-left: calc((100% - 164ch) / 2); */
    /* margin-right: calc((100% - 164ch) / 2); */
    position: fixed;
    z-index: 11;
    user-select: none;
    background-color: #fdfaf6;
    filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.1));
    border-radius: 3px 3px;
    /* font-size: 16px; */

    a {
        text-decoration: none;
        font-style: italic;
    }
}

.bannerback {
    display: table;
    width: 100%;
    top: 0;
    position: fixed;
    z-index: 10;
    user-select: none;
    background-color: #eae6e0;
background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 20.5V18H0v-2h20v-2H0v-2h20v-2H0V8h20V6H0V4h20V2H0V0h22v20h2V0h2v20h2V0h2v20h2V0h2v20h2V0h2v20h2v2H20v-1.5zM0 20h2v20H0V20zm4 0h2v20H4V20zm4 0h2v20H8V20zm4 0h2v20h-2V20zm4 0h2v20h-2V20zm4 4h20v2H20v-2zm0 4h20v2H20v-2zm0 4h20v2H20v-2zm0 4h20v2H20v-2z' fill='%23faf6f0' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
    border-radius: 3px 3px;
    font-size: 16px;

    a {
        text-decoration: none;
        font-style: italic;
    }
}

.footer {
    display: table;
    width: 100%;
    position: relative;
    margin: 0px auto;
    margin-top: auto;
    user-select: none;
    background-color: #fdfaf6;
    filter: drop-shadow(-2px -2px 3px rgba(0, 0, 0, 0.1));
    border-radius: 3px 3px;

    a {
        text-decoration: none;
        font-style: italic;
    }
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    min-height: 192px;
    flex: 1;
}

.ctr {
    text-align: center;
    color: #d33682;
}

.invislink {
    text-decoration: none;
    color: inherit;
}

@media (max-width: 1689.98px) {
    body {
        font-size: 11px;
    }

    .banner {
        font-size: 13px;
    }

    th, td {
        padding-left: 32px;
        padding-right: 32px;
        vertical-align: middle;
    }
}

.mediaflex {
    display: flex;
    align-items: center;
}
